* {
	font-family: "Courier New", monospace;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
nav {
	background-color: none;
	text-align: none;
	text-align: inline ;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

section	{
	height: 100vh;
	text-align: center;
}

button > intro{
	background-color: #cf0051;
	color: white;
	border: 0;
	border-radius: 15px;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
	font-size: 1rem;
	text-decoration-style: center;
	}
p 
{
	text-align: left;
	font-size: 1rem;
	font-style: normal;
}


#succeed-info .card {
 display: inline-block ;
 vertical-align: top;
 min-height: 175px;
 width: 30%;
 margin-left: 0.5rem;
 margin-left: 0.5rem;
 text-align: justify-all;

}



